@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

table {border-collapse: collapse; box-shadow: 5px 5px 10px #628ca6; font-family: "Ubuntu", sans-serif;}

th, td {
    text-align: center;
    padding: 8px;
    margin: 0;
    border: .01em #c7c7c7 solid;
    font-size: .8rem;
}

th {
    background-color: #628ca6;
    color: white;
    padding: 8px;
}

thead tr th {
    background-color: #7fb9c2;
    font-size: 20px;
    color: black;    
}
tr:nth-child(odd) {background-color: #e7f0ed;}
tr:nth-child(even) {background-color: #e7ffed;}

tfoot tr td {
    font-size: .6rem;
}

.madegoal {
    background-color: #628ca6;
    color: white;
}