@media (min-width: 32em)
{
    #friday-announcement {margin: 0 2%;}
    header {margin: 0 2%;}
    header h1{font-size: 2rem;}
    header h2 {font-size: 1.5rem;}
    nav button {display: none}
    nav {
        padding: 0;
        margin: 0 2%;
    }
    nav ul.hidden {
        display: block;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        float: left;
        margin: 0;
        padding: 0;
    }
    nav ul li a {
        padding: 10px 10px;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.7);
    }
    .heroContainer{width: 600px; margin: 0 auto;}
    .summaryImage {max-width: 600px;}


    .forecast {
        
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;
        padding: 10px;
        margin: 10px auto;
        border: 1px solid black;
        background-color: #023047;
        border-radius: 10px;
        justify-content: center;
        column-gap: 5px;
        width: 550px;
    }

    .forecast img {
        background-color: white;
        border-radius: 50px;
    }

    .forecast-1 {
        text-align: center;
        border: 1px solid black;
        background-color: #33b7d8;
        margin: 0;
        padding: 0;
        grid-column: 1 / 2;
    }
    .forecast-2 {
        text-align: center;
        border: 1px solid black;
        background-color: #33b7d8;
        margin: 0;
        padding: 0;
        grid-column: 2 / 3;
    }
    .forecast-3 {
        text-align: center;
        border: 1px solid black;
        background-color: #33b7d8;
        margin: 0;
        padding: 0;
        grid-column: 3 / 4;
    }
    .forecast-4 {
        text-align: center;
        border: 1px solid black;
        background-color: #33b7d8;
        margin: 0;
        padding: 0;
        grid-column: 4 / 5;
    }
    .forecast-5 {
        text-align: center;
        border: 1px solid black;
        background-color: #33b7d8;
        margin: 0;
        padding: 0;
        grid-column: 5 / 6;
    }

    
    figure img {width: 600px; text-align: center; max-width: 600px;}

    footer {
        margin: 0 2%;
    }
}